{% extends 'base.html.twig' %}
{% block body %}
    <style>
        body {
            margin : 0;
        }

        h1{
            line-height: 25vh;
            text-align: center;
        }
    </style>

    <h1>Category List</h1>

    <ul>
        {% for category in categoryList %}
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">{{ category.name }}</th>
            </table>
        {% endfor %}
    </ul>
{% endblock %}
